.intro {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  h1 {
    font-size: 6rem;
    color: #ffd700;
    text-shadow: 1px 1px 5px #ffd700;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 600px;
    text-align: center;
  }

  .buttons {
    display: flex;
    gap: 1rem;
  }

  button {
    background-color: #ffd700;
    color: #000;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: #fff;
      color: #000;
    }
    &:active {
      background-color: #000;
      color: #fff;
    }
  }

  .emoji-row {
    display: flex;
    gap: 0.5rem;
    font-size: 2rem;
  }
}